<!DOCTYPE html>
<html
	lang="en"
	ng-app="dmSocialApp"
>

<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="styles.css">
	<title>DevMtin</title>
</head>

<body ng-controller="mainController">

<!-- ****************** Top Nav Bars ************************* -->

	<!-- Initial View -->
	<nav id="initial-view-top-nav-bar" class="all-top-nav-bars" ng-show="viewStates.showInitialPageTopNavBar">

		<div class="left-icon-wrapper">
			<img src="images/icons/Search.svg" alt="" />
		</div>

		<h1 class="all-top-nav-bars-devmtn-text">DevMountain</h1>

		<div class="right-icon-wrapper">
			<img src="images/icons/Ham.svg" alt="Hamburger menu">
		</div>

	</nav>

	<!-- Landing Page -->
	<nav id="landing-page-top-nav-bar" class="all-top-nav-bars" ng-show="viewStates.showLandingPageTopNavBar">

		<div class="landing-page-left-icon-wrapper">
			<img class="landing-page-left-icon" src="images/icons/landing-page-left-icon-placeholder.png" alt="" />
		</div>

		<h1 class="all-top-nav-bars-devmtn-text">DevMountain</h1>

		<div class="landing-page-right-icon-wrapper">
			<img
				alt="Search For New Friends"
				class="landing-page-right-icon" src="images/icons/Search.svg"
			>
		</div>

	</nav>

	<!-- Friends View | Search For New Friends | Friend Profile View | Update Profile -->
	<nav id="all-other-views-top-nav-bar" class="all-top-nav-bars friends-view-top-nav-bar search-for-new-friends-top-nav-bar friend-profile-view-top-nav-bar update-profile-top-nav-bar" ng-show="viewStates.showAllOtherViewsTopNavBar">

		<div
			class="all-other-views-left-icon-wrapper"
			ng-click="goToFriendsView()"
		>
			<img
				alt="Go back"
				class="all-other-views-left-icon"
				src="images/icons/Back-Arrow.svg"
			/>
		</div>

		<h1 class="all-top-nav-bars-devmtn-text">DevMountain</h1>

		<div class="all-other-views-right-icon-wrapper">
			<img class="all-other-views-right-icon" src="images/icons/Ham.svg" alt="Hamburger menu">
		</div>

	</nav>


<!-- ************************** START of main container ************************* -->

	<main class="main-wrapper">

	<!-- ********************** Left Side ************************* -->

		<!-- Initial View -->
		<div
			id="initial-view-left-side"
			ng-show="viewStates.showInitialViewLeftSide"
		>

			<h2 class="initial-view-welcome-to-devmtn-text">
				Welcome to <span class="initial-view-left-side-devmtn-link-text">DevMountain</span> Social
				<br />
				Add Some Info So Friends Can Find You
			</h2>

			<form class="initial-view-left-side-add-info-form" action="">
				<input
					class="initial-view-left-side-input-full-name"
					ng-model="userFullName"
					placeholder="Full Name"
					type="text"
				>
				<input
					class="initial-view-left-side-input-tagline"
					ng-model="userTagline"
					placeholder="Tagline"
					type="text"
				>
				<input
					class="initial-view-left-side-input-profile-image-url"
					ng-model="userProfileImageUrl"
					placeholder="Profile Image Url"
					type="text"
				>
				<!-- <input type="text" name="name" ng-model="userBio"> -->
				<textarea
					class="initial-view-left-side-input-bio"
					name="bio-text"
					ng-model="userBio"
					placeholder="Bio"
				>
				</textarea>
				<button
					class="initial-view-left-side-save-changes"
					ng-click="initialPageSaveChanges(
						{
								'name': userFullName
							,	'tagline': userTagline
							, 'profileUrl': userProfileImageUrl
							, 'bio': userBio
						}
						, $event
					)"
				>
					Save Changes
				</button>
			</form>

		</div>

		<!-- Landing Page | Friends View | Search For New Friends | Update Profile -->

		<div
			class="landing-page-left-side friends-view-left-side search-for-new-friends-left-side update-profile-left-side"
			id="user-profile-view-left-side"
			ng-show="viewStates.showUserProfileViewLeftSide"
		>

			<h1 class="profile-view-left-side-name-heading">{{ userProfile.name }}</h1>

			<h2 class="profile-view-left-side-tagline-text">{{ userProfile.tagline }}</h2>

			<p class="profile-view-left-side-bio-text">
				{{ userProfile.bio }}
			</p>

		</div>

		<!-- Friend Profile View -->
			<div
				id="friend-profile-view-left-side"
				ng-show="viewStates.showFriendProfileViewLeftSide"
			>

				<h1 class="profile-view-left-side-name-heading">
					{{ friendProfile.name }}
				</h1>

				<h2 class="profile-view-left-side-tagline-text">
					{{ friendProfile.tagline }}
				</h2>

				<p class="profile-view-left-side-bio-text">
					{{ friendProfile.bio }}
				</p>
				<div class="profile-view-left-side-add-friend-button">ADD FRIEND</div>

			</div>

	<!-- ********************** Right Side ************************* -->

		<!-- Initial View -->
		<div
			class="right-side-image-wrapper"
			id="initial-view-right-side"
			ng-show="viewStates.showInitialViewRightSide"
		>
			<img
				alt="Initial view image"
				src="images/initial-view-img-placeholder.png"
			>
		</div>

		<!-- Landing Page -->
		<div
			class="right-side-image-wrapper"
			id="landing-page-right-side"
			ng-show="viewStates.showLandingPageRightSide"
		>
			<img
				alt="Landing page image"
				ng-src="{{ userProfile.profileUrl }}"
			>
		</div>

		<!-- Friend Profile View -->
		<div
			class="right-side-image-wrapper"
			id="friend-profile-view-right-side"
			ng-show="viewStates.showFriendProfileViewRightSide"
		>
			<img
				alt="Friend profile image"
				ng-src="{{ friendProfile.profileUrl }}"
			>
		</div>

		<!-- Friends View -->
		<div
			id="friends-view-right-side"
			ng-show="viewStates.showFriendsViewRightSide"
		>

			<nav id="friends-view-nav-bar">

				<div class="friends-view-sort-direction-button">ASCENDING</div>

				<input
					class="friends-view-filter-by-input"
					type="text"
					value="Friends"
				>

				<div class="friends-view-search-icon-wrapper">
					<img
						alt="Friends view search icon"
						class="friends-view-search-icon"
						src="images/icons/Search.svg"
					>
				</div>

			</nav>

			<div id="user-friends-grid">
				<div
					class="friend-thumbnail"
					ng-repeat="friend in userFriends track by $index"
					ng-mouseenter="thumbnailOverlayActive = true"
					ng-mouseleave="thumbnailOverlayActive = false"
				>
					<img
						alt=""
						ng-src="{{ friend.profileUrl }}"
					>
					<div
						class="thumbnail-overlay"
						ng-show="thumbnailOverlayActive"
					>
						<h5 class="thumbnail-overlay-heading">
							{{ friend.name }}
						</h5>
						<div
							class="thumbnail-overlay-view-profile-button"
							ng-click="viewOtherProfile( friend, $event )"
						>
							<p class="thumbnail-overlay-view-profile-button-text">View Profile</p>
						</div>
					</div>
				</div>
				<!-- <div class="friend-thumbnail"></div>
				<div class="friend-thumbnail"></div>
				<div class="friend-thumbnail"></div>
				<div class="friend-thumbnail"></div>
				<div class="friend-thumbnail"></div> -->
			</div>

		</div>

		<!-- Search For New Friends -->

			<div
				id="search-for-new-friends-right-side"
				ng-show="viewStates.showSearchForNewFriendsRightSide"
			>

				<nav id="search-for-new-friends-nav-bar">

					<div class="search-for-new-friends-search-icon-wrapper">
						<img
							alt="Search for new friends"
							class="search-for-new-friends-search-icon"
							src="images/icons/Search.svg"
						>
					</div>

					<input
						class="search-for-new-friends-filter-by-input"
						type="text"
						value="Search for Friends"
					>
					</input>

				</nav>

				<div id="search-for-new-friends-results-grid">
					<div
						class="result-thumbnail"
						ng-repeat="result in userResults track by $index"
					>
						<img
							alt=""
							ng-src="{{ result.profileUrl }}"
						>
						<div
							class="thumbnail-overlay"
						>
							<h5 class="thumbnail-overlay-heading">
								{{ result.name }}
							</h5>
							<div
								class="thumbnail-overlay-view-profile-button"
								ng-click="viewProfile( result, $event )"
							>
								<p class="thumbnail-overlay-view-profile-text">View Profile</p>
							</div>
						</div>
				</div>
			</div>
		</div>

		<!-- Update Profile -->
			<div
				id="update-profile-right-side"
				ng-show="viewStates.showUpdateProfileViewRightSide"
			>
				<div class="update-profile-right-side-profile-settings">
					<p>Profile Settings</p>
				</div>
				<div class="update-profile-right-side-change-info-container">
						<input
							class="update-profile-right-side-input-full-name"
							ng-model="nameUpdate"
							placeholder="Full Name"
							type="text"
						>
						<input
							class="update-profile-right-side-input-tagline"
							ng-model="taglineUpdate"
							placeholder="Tagline"
							type="text"
						>
						<input
							class="update-profile-right-side-input-profile-image-url"
							ng-model="profileUrlUpdate"
							placeholder="Profile Image Url"
							type="text"
						>
						<textarea
							class="update-profile-right-side-input-bio"
							cols="30"
							name="bio-text"
							ng-model="bioUpdate"
							placeholder="Bio"
							rows="10"
						>
						</textarea>
				</div>
				<div
					class="update-profile-right-side-save-changes-button"
					ng-click="updateProfile(
						{
								'name': nameUpdate
							,	'tagline': taglineUpdate
							, 'profileUrl': profileUrlUpdate
							, 'bio': bioUpdate
						}
						, $event
					)"
				>
					<p>Save Changes</p>
				</div>
			</div>

	</main>

<!-- ************************** END of main container ************************* -->


<!-- ****************** Footer ( all views ) ************************* -->

  <footer class="bottom-nav-bar footer-text">
  	<span
			id="view-friends-linkspan"
			ng-class="{ 'underline-link' : viewFriendsIsActive }"
			ng-click="!isUserProfileLogged || goToViewFriends()"
		>
			View Friends
		</span>
  	<span
			id="find-friends-linkspan"
			ng-class="{ 'underline-link' : findFriendsIsActive }"
			ng-click="!isUserProfileLogged || goToFindFriends()"
		>
			Find Friends
		</span>
  	<span
			id="update-profile-linkspan"
			ng-class="{ 'underline-link' : updateProfileIsActive }"
			ng-click="!isUserProfileLogged || goToUpdateProfile()"
		>
			Update Profile
		</span>
  </footer>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js" charset="utf-8"></script>
	<script src="js/app.js" charset="utf-8"></script>
	<script src="js/mainController.js" charset="utf-8"></script>
	<script src="js/userService.js" charset="utf-8"></script>

</body>
</html>
