@import 'https://fonts.googleapis.com/css?family=Lora|Open+Sans:400,600,700';

/********* All views **************/

* {
  /*border: 1px solid blue;*/
  font-family: 'Lora', serif;
  box-sizing: border-box;
}

body {
  padding: 0 19em;
}

main {
  display: flex;
  padding: 1.5em 0.5em;
}

/*************** Top Nav Bars *****************/

    /*********** All Top Nav Bars ***********/

    .all-top-nav-bars {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid gainsboro;
    }

    .all-top-nav-bars-devmtn-text {
      font-size: 16.8px;
      line-height: 21px;
    }

    /********** Landing page ************/
    .landing-page-left-icon-wrapper {
      height: 100%;
      display: flex;
      align-items: center;
    }

    .landing-page-left-icon {
      border-bottom: 2px solid #00FFE9;
    }

    .landing-page-right-icon-wrapper {
      height: 100%;
      width: 24px;
      display: flex;
      align-items: center;
    }

    .landing-page-right-icon {
      width: 100%;
      height: 100%;
    }

    /********** All other views ************/

        /* No other CSS for all other views */


/************ Left Side **************/

    /********** Initial View ************/
    #initial-view-left-side {
      display: inline-block;
      width: 40%;
      text-align: center;
    }

    .initial-view-welcome-to-devmtn-text {
      font-size: 12.07px;
      line-height: 14px;
    }

    .initial-view-left-side-devmtn-link-text {
      color: #74FDF2;
    }

    .initial-view-left-side-add-info-form input, textarea, button {
      display: block;
      margin: 0 auto 0.5em auto;
      width: 95%;
    }

    .initial-view-left-side-input-full-name,
    .initial-view-left-side-input-tagline,
    .initial-view-left-side-input-profile-image-url {
      height: 2.5em;
    }

    .initial-view-left-side-input-bio {
      height: 18em;
      border: 1px solid gainsboro;
    }

    .initial-view-left-side-save-changes {
      color: #777777;
      background-color: #00FFE9;
      border: none;
      font-size: 13.44px;
      line-height: 17px;
      height: 2em;
    }

    /********* My Profile & Friend Profile Views **************/

    #my-profile-view-left-side, #friend-profile-view-left-side {
      width: 30em;
      padding-left: 1.5em;
      padding-right: 1.5em;
      text-align: justify;
    }

    h1.profile-view-left-side-name-heading {
      font-size: 38.4px;
      color: #272727;
      line-height: 46px;
      text-align: left;
      margin-top: 0.75em;
      margin-bottom: 0.45em;
      margin-right: 0.2em;
    }

    h2.profile-view-left-side-tagline-text {
      font-size: 10.2px;
      line-height: 14px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
    }

    .profile-view-left-side-bio-text {
      font-family: 'Open Sans', sans-serif;
      font-size: 10.2px;
      line-height: 14px;
    }

    .profile-view-left-side-add-friend-button {
      height: 1.7em;
      padding: 0.3em;
      width: 100%;
      text-align: center;
      background-color: #00FFE9;
      font-size: 13.18px;
      line-height: 16px;
    }

/************* Right Side ****************/

    /********* Initial View, Landing Page,
        Friend Profile View ******/

    .right-side-image-wrapper {
      width: 60%;
      height: 30em;
      display: flex;
    }

    .right-side-image-wrapper img {
      height: 30em;
      margin: 0 auto;
    }

    /********* Friends View ******/
    #friends-view-right-side {
      padding: 0 1em;
      width: 22em;
    }

    #friends-view-nav-bar {
      height: 2.2em;
      border: 1px solid gainsboro;
      margin-bottom: 0.5em;
      padding: 0 0.8em;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .friends-view-sort-direction-button {
      border: 2px solid black;
      padding: 1px 10px;
      font-size: 6.6px;
      line-height: 8px;
    }

    .friends-view-filter-by-input {
      width: 8em;
      border: none;
      font-size: 19.8px;
      line-height: 24px;
      margin-right: 2em;
      text-align: center;
    }

    h4.friends-view-friends-heading {
      font-size: 19.8px;
      line-height: 24px;
      margin-right: 2em;
    }

    #my-friends-grid {
      width: 100%;
      height: 27em;
      column-count: 2;
    }

    .friend-thumbnail {
      height: 7.5em;
      margin: 0.2em 0;
      width: 9em;
      border: 1px solid black;
      display: inline-block;
    }

    /********* Search For New Friends ******/

    #search-for-new-friends-right-side {
      padding: 0 1em;
      width: 22em;
    }

    #search-for-new-friends-nav-bar {
      height: 2.2em;
      border: 1px solid gainsboro;
      margin-bottom: 0.5em;
      padding: 0 0.6em;
      display: flex;
    }

    .search-for-new-friends-search-icon-wrapper {
      height: 100%;
      width: 1.2em;
      float: left;
      display: flex;
      align-items: center;
    }

    .search-for-new-friends-search-icon {
      width: 1.2em;
    }

    .search-for-new-friends-filter-by-input {
      width: 100%;
      font-size: 19.8px;
      line-height: 24px;
      margin: 0;
      text-align: center;
      border: none;
    }

    /*h4.search-for-new-friends-search-for-friends-heading {
      font-size: 19.8px;
      line-height: 24px;
      margin-right: 2em;
    }*/

    h6.search-for-new-friends-search-for-friends-heading {
      font-size: 16.8px;
      line-height: 21px;
    }

    #search-for-new-friends-results-grid {
      width: 100%;
      height: 27em;
      column-count: 2;
    }

    .result-thumbnail {
      height: 7.5em;
      margin: 0.2em 0;
      width: 9em;
      border: 1px solid black;
      display: inline-block;
    }


/************ Footer *****************/

.bottom-nav-bar {
  display: flex;
  justify-content: space-around;
  padding-top: 1em;
  border-top: 1px solid gainsboro;
}

.footer-text span {
  font-size: 13.2px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  line-height: 18px;
  color: #B6B6B6;
}

/**************************************/

h2.friend-profile-view {
  font-size: 28px;
  line-height: 34px;
}

h3.friend-profile-view-heading {
  font-size: 28px;
  line-height: 34px;
}




.full-name-text-1 {
  font-size: 16.8px;
  line-height: 21px;
}

h5.sally-rally-heading {
  font-size: 16.8px;
  line-height: 21px;
}

.full-name-text-2 {
  font-size: 15.96px;
  line-height: 19px;
}

.save-changes-text {
  font-size: 13.44px;
  line-height: 17px;
}

.add-friend-text {
  font-size: 13.18px;
  line-height: 16px;
}



.view-profile-text {
  font-size: 11.4px;
  line-height: 14px;
}
